body {
	background-image: url(images/bg1.png);
	background-attachment: fixed;
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	line-height: 1.6;
}

nav {
	background-color: black;
	position: fixed;
	width: 100%;
	z-index: 1;
	box-shadow: 0px 0px 5px black;
}

.logo {
	position: absolute;
	left: 5%;
}

nav ul {
	overflow: hidden;
	padding: 0;
	margin: 0;
	margin-left: 15%;
	margin-bottom: 15px;
	transition: max-height 0.6s;
}

nav ul li{
	display: inline-block;
	margin-left: 40px;
	margin-top: 15px;
}

#nav ul li a{
	text-decoration: none;
	color: white;
}

#nav ul li a:hover{
	color: #F48D00;
}

.mobile-nav {
	width: 100%;
	background: black;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	color: white;
	display: none;
	height: 50px;
}

.menu-icon-line {
	width: 35px;
    height: 5px;
    background-color: white;
    margin: 7px 0;
}

.menu-icon {
	float: right;
	margin: 4px;
	margin-right: 20px;
}

p, h1 {
	font-size: 1.4em;
}

p a, h1 a {
	color: #F48D00;
	text-decoration: none;
}

p a:hover {
	color: black;
	text-decoration: none;
}

h2 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	display: inline;
	font-size: 45px; 
	font-weight: bold;
	margin-left: 30px;
	margin-right: 30px;
}

.row {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding-top: 80px;
	font-family: inherit;
	font-size: inherit;
}

.bar {
	height: 20px;
	width: 250px;
	background-color: #ff8d00;
	border-top: 5px solid #ce7300;
	display: inline-block;
	margin-bottom: 22px;
}

.bar-short {
	height: 20px;
	width: 200px;
	background-color: #ff8d00;
	border-top: 5px solid #ce7300;
	display: inline-block;
	margin-bottom: 22px;
}

.title-text {
	display: inline-block;
	font-size: 95px;
	color: #ff8d00;
	font-family: 'bebasKai';
	text-shadow: 0px -4px #ce7300;
	line-height: 1;
	margin-left: 10px;
	margin-right: 10px;
}

.title-text--code {
	display: inline-block;
	font-size: 75px;
	font-family: courier;
	margin-left: 45px;
	line-height: 1;
}

.cursor {
	height: 5px;
	width: 45px;
	background-color: black;
	display:inline-block;
	animation: blink 1.2s steps(2, start) infinite;
}

.row-wrap {
	text-align: center;
}

svg {
	height: 30px;
	width: 30px;
	position: relative;
	top: 8px;
}

.repeat-button {
	width: 200px;
	margin: 0 auto;
	/*cursor: pointer;*/
}

.repeat-button span {
	font-size: 25px;
}

.repeat-icon {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

@keyframes blink {
	to {
		visibility: hidden;
	}
}

.repeat-button span {
	font-family: courier;
}

.headline {
	margin-top: 15px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#intro {
	padding: 100px 10px 0px 10px;
}

/*Headings*/

.black-bar--lg {
	height: 10px;
	width: 290px;
	background-color: black;
	display: inline-block;
}



h2 span {
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 50px;
	color: #ff8d00;
	text-shadow: 3px 0px #ce7300;
}

.heading {
	text-align: center;
	margin-bottom: 20px;
}

p {
	font-family: sans-serif;
	font-size: 20px;
	margin: 0;
}

/*--My work --*/
.work-block {
	margin-top: 0px;
	margin-bottom: 25px;
}

.work-block img {
	margin-left: auto;
	margin-right: auto;
}

.card {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description {
	font-size: 1.2em;
	background-color: #eee;
	padding: 10px;
}

.blurb-wrap {
	margin-bottom: 50px;
}

#blurb {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#selfie {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-left: 110px;
}

@media (max-width: 992px) {
	#selfie {
		margin-left: auto;
		margin-right: auto;
	}
}

#skills {
	display: block;
	margin: auto;
	text-align: left;
}

#skills li {
	font-size: 1.4em;
	font-family: inherit;
	list-style: square inside url("images/square-dot.png");
	margin-bottom: 10px;
}

.info {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 18px;
	font-size: 1.4em;
}

h3 {
	font-weight: bold;
	font-size: 1.3em;
	color: black;
}

.info p {
	margin-left: 25px;
}

.form, {
	text-align: left;
}

form {
	max-width: 400px;
	margin: 10px auto 0px;
}

form label {
	display: block;
}

form label span {
	display: block;
}

.info-group label{
	width: 50%;
	float: left;
}

.info-group label:nth-child(1) {
	padding-right:5px;
}

.info-group label:nth-child(2) {
	padding-left:5px;
}

textarea {
	height: 11em;
}

input, textarea {
	border: 2px solid #F48D00;
	width: 100%;
}

input:focus, textarea:focus{
	outline: none;
	border-color: #f0b35f;
}

.btnSend {
	background: #F48D00;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	width: 50%;
	margin-top: 5px;
}

.btnSend:hover {
	background: #f0b35f;
}



@font-face {
	font-family: 'bebasKai';
	src: url('fonts/BebasKai-Regular.otf');
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?o7zww5');
    src:    url('fonts/icomoon.eot?o7zww5#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?o7zww5') format('truetype'),
        url('fonts/icomoon.woff?o7zww5') format('woff'),
        url('fonts/icomoon.svg?o7zww5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
    content: "\f099";
}
.icon-linkedin:before {
    content: "\f0e1";
}
.icon-github-alt:before {
    content: "\f113";
}
.icon-youtube:before {
    content: "\f167";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-dribbble:before {
    content: "\f17d";
}
.icon-behance:before {
    content: "\f1b4";
}
.icon-soundcloud:before {
    content: "\f1be";
}

.social-links{
	max-width: 700px;
	margin: 70px auto 0px;
	display: flex;
	justify-content: space-around;
}

.social-links a {
	display: block;
	background: #F48D00;
	text-decoration: none;
	color: black;
	font-size: 28px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	width: 50px;
}

.social-links a:hover {
	transform: scale(1.2);
	text-decoration: none;
	color: black;
}

#now ul li {
	font-size: 1.4em;
	font-family: inherit;
	list-style: square inside url("images/square-dot.png");
	margin-bottom: 10px;
	text-align: left;
}

#now li a {
	color: #F48D00;
	text-decoration: none;
}

#now li a:hover {
	color: black;
	text-decoration: none;
}

.date {
	margin-bottom: 10px;
	font-size: 1.175em;
	color: #919191;
}

#now ul {
	max-width: 600px;
	margin: auto;
	margin-bottom: 20px;
	padding: 25px;
}

.footer-logo {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 60px;
}

/*Media queries*/
/* ---Nav bar --- */
@media screen and (max-width: 500px){
	nav ul{
		max-height: 0;
		background-color: black;
		margin-bottom: 0;
		text-align: center;
		margin-left: 6em;
	}

	.showing{
		max-height: 15em;
	}

	nav ul li{
		box-sizing: border-box;
		width: 100%;
		text-align: left;
		background-color: black;
		color: white;
	}

	.mobile-nav{
		display: block;
	}

	.logo {
		position: absolute;
		left: 1%;
	}

	.contact-email {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 930px) {
	.heading div {
		width: 250px;
	}
}

@media screen and (max-width: 850px){
	.heading div {
		width: 150px;
	}
}

@media screen and (max-width: 780px){
	/*---Intro graphic---*/
	.bar {
		width: 150px;
	}
	.bar-short {
		width: 100px;
	}
}

@media screen and (max-width: 650px){
	h2 {
		font-size: 25px;
		margin-left: 10px;
		margin-right: 10px;
	}
	h2 span {
		font-size: 30px;
	}
	.section {
		padding-top: 40px;
	}
	.heading div {
		width: 100px;
	}
}

@media screen and (max-width: 580px) {
	/*---Intro graphic---*/
	.title-text {
		font-size: 70px;
	}
	.title-text--code {
		font-size: 50px;
	}
	.bar {
		width: 100px;
	}
	.bar-short {
		width: 75px;
	}
	.cursor {
		width: 35px;
	}
}

@media screen and (max-width: 500px){
	.heading div {
		width: 50px;
	}
}

@media screen and (max-width: 420px) {
	/*---Logo---*/
	.logo {
		height: 50px;
		width: 50px;
	}
	/*---Intro graphic---*/
	.row-wrap {
		margin-bottom: 10px;
	}
	.title-text {
		font-size: 45px;
		line-height: .9;
	}
	.title-text--code {
		font-size: 35px;
		line-height: .9;
		margin-left: 19px;
	}
	.bar {
		width: 65px;
		height: 10px;
		margin-bottom: 12px;
	}
	.bar-short {
		width: 45px;
		height: 10px;
		margin-bottom: 12px;
	}
	svg {
		height: 18px;
		width: 18px;
		top: 3px;
	}
	.repeat-button span {
		font-size: 16px;
	}
	.cursor {
		width: 20px;
		height: 4px;
	}

	/*---Headings---*/
	h2 {
		font-size: 25px;
		margin-left: 10px;
		margin-right: 10px;
	}
	h2 span {
		font-size: 30px;
	}
	.section {
		padding-top: 40px;
	}

	/*---Text---*/
	p {
		font-size: 15px;
	}
	#skills li {
		font-size: 15px;
	}
	.description {
		font-size: 15px;
	}
	#now ul li {
		font-size: 15px;
	}

	/*---Social links---*/
	.social-links {
		margin-top: 40px;
	}
	.social-links a{
		width: 40px;
		line-height: 40px;
		font-size: 18px;
	}

}