.section-about {
    background-color: white;
    padding: 40px 80px 80px;
}

.about-text-wrap {
    font-size: 18px;
    font-weight: 300;
}

.img-face {
    height: 250px;
    border-radius: 50%;
    margin-right: 50px; 
}

.about-content-wrap {
    display: flex;
    align-items: center;
    max-width: 920px;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .img-face {
        margin: 0px auto 50px auto;
    }
    .about-content-wrap {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .section-about {
        padding: 40px 20px;
    }
}
