.section-about {
    background-color: white;
}

.img-face {
    border-radius: 50%;
}

.about-text {
    width: 50%;
}

.about-content-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
}