.project__card {
    width: 500px;
    background-color: white;
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.project__image {
    height: 275px;
    object-fit: cover;    
    display: block;
}

.project__info {
    background-color: white;
    text-align: center;
}

.project__info__name {
    
}

.project__info__links {
    text-align: left;
}

.project__info__link {
    margin: 5px;
}
.project__description {
}
