.project__card {
    width: 500px;
    background-color: white;
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.project__image {
    width: 100%;
    display: block;
}

.project__info {
    background-color: white;
}

.project__info__name {
    
}

.project__info__links {
    display: flex;
    justify-content: space-around; 
}
.project__description {
}
